storage "s3" {
## Here, inside quotes, introduce the access_key of the bucket
  access_key = "Your access_key"
## Here, inside quotes, introduce the secret_key of the bucket
  secret_key = "your secret_key"
## Here, inside quotes, introduce the name of the bucket
  bucket = "Your bucket for vault"
## Here, inside quotes, introduce the region of the bucket
  region = "The region of your bucket"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
} 
