storage "s3" {
  access_key = "AKIAJQHS6XLZU5H7ZPWQ"
  secret_key = "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"
  bucket = "vault-secret-lievano-a113"
  region = "us-east-1"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
} 
